@import "tailwindcss";
.hindi-text {
    font-family: 'Noto Sans Devanagari', 'Arial Unicode MS', sans-serif;
  }
  body {
    background-color: #FFF1F2;
  }

  /* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}
.family-head {
  background-color: #ec407a; /* Dark pink */
  color: white;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.family-member {
  background-color: #ffd9e6; /* Light pink */
  color: #333;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin-left: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
